.title {
    margin: 0 0 50px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-weight: 100;
    color: #5b5963;
    line-height: 1.2;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;
    position: relative;
}

.title h2 {
    margin: 0

}

.title:before {
    content: "";
    position: absolute;
    background: #666;
    width: 55px;
    height: 1px;
    bottom: -30px;
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%, 50%);
}

