$textColor: #fff;
$primaryColor: #4e93e6;
$bgColor: #1f1f20;
$bgSecondColor:#252527;
$titleFontFamilyPoppins:'Poppins', sans-serif;
$textFontFamilyJosefinSans:'Josefin Sans', sans-serif;



//$textColor: #5b5963;
//$primaryColor: rgb(172, 195, 250);
//$bgColor: #fff;
//$bgSecondColor:#f5f5f5;
//$titleFontFamilyPoppins:'Poppins', sans-serif;
//$textFontFamilyJosefinSans:'Josefin Sans', sans-serif;