.footerBlock{
    background-color: rgba(109, 243, 210, 0.8);
}

.footerContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    background-color: #eeeef5;
}
.itemsConatiner{
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}

.titleContainer{
    background-color: #eeeef5;
}